.button {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
  transition: background-color 0.1s ease-in-out;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.primary {
  background-color: var(--primary);
  color: var(--white);
}

.primary:hover {
  background-color: var(--primary-hover);
}

.ghost {
  border: 1px solid var(--gray-light);
  background: none;
  color: var(--black);
}

.ghost:hover {
  border: 1px solid var(--gray-light);
  background: #ccc;
}
